@font-face {
  font-family: blessFont;
  src: url(../../assets/blessFont.ttf);
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.us_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.us_image {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
}

.us_description_content {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
  padding: 20px;
  max-width: 100%;
  width: 100%;
}

.us_description {
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

.section-title {
  font-weight: 400;
  font-family: blessFont;
  font-size: 80px;
 
}

@media (min-width: 1500px) {
  #about {
    min-height: fit-content;
    flex-direction: row;
    justify-content: space-between;
  }

  .us_content, .us_description_content {
    flex: 1;
   
  }

  .us_description_content {
    max-width: 50%;
    margin-right: 30vh;
}
}


